/*
name:Cryptian, Bitcoin and Cryptocurrency HTML5 Landing Page;
author:uivision;
version:1.0.0;
css list:
===========================
1:base css
===========================
1:header css
===========================
2:welcome css
===========================
3:about css
===========================
4:ico area css
===========================
5:Documentation area css
===========================
6:roadmap area css
===========================
7:team area css
===========================
8:faq area css
===========================
9:team bg area css
===========================
10:distibution area css
===========================
10:apps area css
===========================
11:community area cs
===========================
12:footer area css
===========================
13:mobile menu css
===========================
>homePage version 2 css
----------------------------
        --welcome area v2 css
        -------------------
        --faq v2 area css
        ------------------s
        -----------------------
==========================
14:blog page css
==========================
15:single-blog page css
==========================
16:comman css
*/

/*===================
     base css
=====================*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,800');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background: #181126;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6
{
	color: #20213a;
	font-family: 'Montserrat', sans-serif;
	text-transform: capitalize;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ffffff00;
}

a, a:hover{
  text-decoration: none;
}

p {
  font-family: 'Montserrat', sans-serif;
}

input:focus, button:focus, textarea:focus {
  outline: none
}

input, textarea{
  color: #000;
  text-transform: capitalize;
}
a.gradient-btn:hover:after,
a.gradient-btn:after,
.single-details a,
.single-details a:hover,
.about-area.v2::after,
.slicknav_nav a:hover,
.slicknav_nav .slicknav_row, .slicknav_nav a,
.single-footer li a,
.single-footer li a:hover,
.single-community i,
.single-community i:hover,
.gradient-btn.apps-btn.apps-btn-2,
.gradient-btn.apps-btn.apps-btn-2:hover,
.faq-area .owl-nav div,
.faq-area .owl-nav div:hover,
.readmore-btn,
.readmore-btn i,
.readmore-btn:hover,
.single-team-social li a:hover,
.single-team-social li a:hover i,
 .single-team-social a i,
.single-team-social li a,
.roadmap-area .owl-nav div,
.roadmap-area .owl-nav div:hover,
.single-document:hover,
.single-document:hover .single-document-text span,
.document-flag img,
.single-ico a:hover,
.ico-heading h1 a,
.ico-heading h1 a:hover,
.main-menu li ul,
.header-area,
.main-menu li:hover ul,
.main-menu li ul li a:hover,
a.single-about:hover,
.header-area.header-absolate.skrollable.skrollable-after,
a.single-about,
.main-menu li ul li a
 {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

/*===================
     header css
=====================*/

.menu-options {
  position: relative;
}

.menu-options::before, .menu-options::after {
  content: '';
  position: absolute;
  left: 50%;
  width: 100%;
  height: 2px;
  background-color: #2db7d4;
  opacity: 1;
  transform-origin: center;
  transform: translateX(-50%) scaleX(0);
  transition: transform 0.4s ease;
}

.menu-options::before {
  top: 0;
}

.menu-options::after {
  bottom: 0;
}

.menu-options:hover::before, .menu-options:hover::after {
  transform: translateX(-50%) scaleX(1);
}

.logo-area img {
  width: 100%;
  margin-top: 0px;
  height: 50px;
}

.header-area {
  padding-top: 10px;
  z-index: 9999999;
  position: relative;
  width: 100%;
}

.header-area.header-absolate.skrollable.skrollable-after {
  padding-top: 15px;
  background: #000D47;
  padding-bottom: 15px;
}

.main-menu li {
  display: inline-block;
  position: relative;
  z-index: 2;
}

.main-menu li.active a{
  color: #FB9A8C;
}

.main-menu li a {
  display: block;
  padding: 10px;
  font-size: 16px;
  font-weight: 10vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
  text-justify: newspaper;
  font-style: unset;
  color: rgb(212, 209, 209);
  text-transform: capitalize;
}

.main-menu li ul {
  position: absolute;
  left: 0;
  top: 70px;
  z-index: 999;
  background: #20213a;
  border-radius: 5px;
  visibility: hidden;;
  opacity: 1;
}

.main-menu li ul li a {
  width: 150px;
  padding: 10px;
  text-align: left;
  display: block;
  border-radius: 5px;
}

.main-menu li ul li a:hover {
  background: #20213a;
  padding-left: 15px;
}

.main-menu li:hover ul {
  opacity: 1;
  visibility: visible;
  top: 52px;
  left: 0;
}

.main-menu li.active ul li a {
  color: #ede9f1;
}

/*===================
     welcome css
=====================*/

#particles-js {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.welcome-area{
	position: relative;
	z-index: 999999;
  padding-top: 80px;
}

.welcome-text h4 {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 50px;
  line-height: 26px;
}

.welcome-text h1 {
  font-size: 43px;
  font-weight: 700;
  line-height: 50px;
}

.welcome-btn {
  margin-right: 10px;
}

.welcome-area::before {
  position: absolute;
  width: 100%;
  height: 161%;
  content: "";
  background: url(assets/img/Group1.png) no-repeat;
  top: -62%;
  left: -29%;
  z-index: -1;
}

.gradient-btn.v2 {
  height: 55px;
  line-height: 36px;
  padding-left: 30px;
  padding-right: 30px;
}

/*===================
     about css
=====================

.about-area {
  position: relative;
  z-index: 2;
}

.about-area::after {
  position: absolute;
  content: "";
  height: 140%;
  width: 100%;
  right: -38%;
  bottom: -60%;
  background: url(assets/img/about-bg.png) no-repeat;
  -webkit-transform: rotate(14deg);
  z-index: -1;
}

.single-about-area {
  z-index: 2;
  position: relative;
}

.single-logo-wrapper {
  display: table;
  height: 60px;
  width: 100%;
}

.single-item {
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

.owl-carousel .owl-item .single-item img {
  width: auto;
  display: inline-block;
}

.about-mid-text h1 {
  font-size: 31px;
  text-transform: capitalize;
  font-weight: 700;
  margin: 20px 0;
}

.about-mid-img {
  position: relative;
  left: -18%;
  margin-right: 30px;
  width: 580px;
}

.gradient-btn.about-btn i{
  padding-right: 5px;
  font-size: 16px;
}

.single-about-img img {
  width: 162px;
  height: 110px;
}

.single-about-text h4 {
  font-size: 22px;
  text-transform: capitalize;
  margin: 20px 0;
}

a.single-about {
  color: #cbe5ff;
  display: block;
  padding: 50px 25px;
  background: #1938a2;
  text-align: center;
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}

a.single-about:hover {
  background: #122e91;
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}

/*===================
ico area css
======================

.ico-area {
  background: #031b69;
}


.ico-heading h1 {
  font-size: 36px;
  text-transform: capitalize;
  font-weight: 70;
}

.ico-heading h1 a {
  color: #f9748f;
  text-transform: uppercase;
}

.ico-heading h1 a:hover {
  color: #F6D266;
}

.ico-area h5 {
  font-size: 18px;
  margin-bottom: 10px;
}

.single-ico a {
  color: #f9748f;
  padding-right: 10px;
  font-size: 18px;
}
.single-ico h1 {
  font-size: 36px;
  font-weight: 700;
}

.single-ico h5 {
  font-size: 18px;
}

.single-ico a:hover {
  color: #F6D266;
}

.progress {
  height: 60px;
  border-radius: 50px;
  margin-top: 50px;
  background: #004cff;
  overflow: unset;
}

.progress-d-top {
  position: absolute;
  top: -33%;
  left: 38%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #004cff;
}
.progress-bar.progress-bar-success {
  background: -webkit-linear-gradient(left,#f6d365,#fda085);
  position: relative;
  z-index: 2;
  border-radius: 50px 0px 0 50px;
}

.progress-details {
  position: absolute;
  right: -4%;
  top: 135%;
  height: 45px;
  width: 70px;
  background: #004cff;
  line-height: 47px;
  border-radius: 5px;
  font-weight: 700;
  animation: upDown 2s infinite;
  text-align: center;
}

.ico-area {
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.ico-area:before {
  position: absolute;
  content: "";
  background: url(assets/img/liveShape-bg.svg) no-repeat;
  height: 100%;
  width: 100%;
  left: -30%;
  bottom: -41%;
}

.ico-area:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  right: -82%;
  top: -40%;
  background: url(assets/img/liveShape-bg.svg) no-repeat;
  z-index: -1;
}

#days, #minutes, #hours, #seconds {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
}

.custom-progressBar{
  position: relative;
  z-index: 2;
}

.custom-progressBar::before {
  position: absolute;
  content: "\f107";
  font-family: FontAwesome;
  left: 5%;
  bottom: -61%;
  font-size: 30px;
  width: 50px;
  animation: upDown 2s infinite;
  color: red;
  font-weight: 700;
}
.custom-progressBar::after {
  position: absolute;
  content: "\f106";
  font-family: FontAwesome;
  right: 5%;
  bottom: -61%;
  color: red;
  font-size: 30px;
  font-weight: 700;
  animation: upDown 2s infinite;

}

.single-cup {
  margin-left: 6%;
  margin-top: 6%;
}

.single-cup p {
  font-size: 16px;
  text-transform: capitalize;
}

.single-cup.right {
  margin-left: 0;
  margin-right: 6%;
}

/*===================
Documentation area css
======================

.single-document-text span {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

.heading h1 {
  font-size: 36px;
  font-weight: 700;
}

.single-document:hover .document-flag img {
  -webkit-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
}

.single-document:hover .single-document-text span {
  color: #FB9A8C;
}

button.single-document-text {
  background: none;
  border: none;
  cursor: pointer;
}

/*===================
team area css
======================*/

.single-team-img img {
  border-radius: 35px;
}

.single-team-content h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 2px;
}

.single-team-content {
  padding-bottom: 15px;
}

.social {
  margin-top: 2px;
  margin-bottom: 5px; 
}

.social a {
  color: #b3b3b3;
}

.social a:hover {
  color: #2dc997;
}

.social i {
  font-size: 18px;
  margin: 0 2px;
}

.social .twitter:hover {
  color: #00acee;
}

.social .linkedin:hover {
  color: #0e76a8;
}

.social .feed:hover {
  color: #ee802f;
}

.social .github:hover {
  color: #000000;
}
/*===================
faq area css
======================

.faq-list .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: inline-block;
}

.faq-list li {
  display: inline-block;
}

.faq-list ul li a.active {
  color: #fa758e;
}

.faq-list ul li a {
  display: block;
  margin: 0 10px;
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
}

.single-faq {
  padding: 35px 20px;
  background: #143dc7;
}

.readmore-btn {
  display: inline-block;
  color: #fa758e;
  text-transform: capitalize;
  font-size: 16px;
}

.readmore-btn i {
  font-size: 19px;
  margin-right: 5px;
}
.readmore-btn:hover {
  color: #fff;
}

.readmore-btn:hover i{
  margin-right: 10px;
}

.faq-area .owl-nav div {
  position: absolute;
  left: auto;
  right: 2%;
  bottom: -16%;
  font-size: 20px;
}

.faq-area .owl-nav .owl-prev {
  right: 5%;
}

.faq-area .owl-nav div:hover{
  color: #fa758e;
}

.single-faq h4 {
  font-size: 22px;
  font-weight: 600;
}

/*===================
team bg area css
======================

.team-bg {
  position: relative;
  z-index: 2;
}

.team-bg::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: url(assets/img/bg.png);
      background-attachment: scroll;
  z-index: -1;
  background-attachment: fixed;
}

/*===================
distibution area css
======================

.distibution-svg img {
  width: 700px;
}

.distibution-svg.distibution-svg-1 img {
  width: 400px;
}

.distibution-bg {
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.distibution-bg:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  background: url(assets/img/initial-bg.png) no-repeat;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: -1;
}

.distibution-bg:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: -33%;
  right: -32%;
  background: url(assets/img/documentaion-bg.png) no-repeat;
  z-index: -1;
}

.distibution-d li {
  font-size: 18px;
  color: #fff;
}

.distibution-d li span {
  font-size: 36px;
  font-weight: 700;
}


.distibution-list-1 {
  padding-top: 10%;
}

.distibution-list-2 {
  padding-top: 13%;
}

.distibution-list-3 {
  padding-top: 4%;
}

.distibution-list-4 {
  padding-top: 13%;
}

.distibution-svg.distibution-svg-2 {
  position: relative;
  z-index: 2;
}

.distibution-d.distibution-d-2 {
  position: absolute;
  left: 93%;
  width: 575px;
  z-index: 999999999;
}

.distibution-list-5 {
  padding-top: 3%;
  padding-right: 2%;
}

.distibution-list-6 {
  padding-top: 27%;
  padding-right: 16%;
}

.distibution-list-7 {
  padding-top: 25%;
  padding-right: 40%;
}

.distibution-list-8 {
  padding-top: 26%;
  padding-right: 58%;
}

/*===================
apps area css
======================*/

.gradient-btn.apps-btn {
  padding: 25px;
}

.gradient-btn.apps-btn i{
  font-size: 20px;
  padding-right: 10px;
}

.gradient-btn.apps-btn {
  padding: 20px 30px;
  text-transform: capitalize;
}

.gradient-btn.apps-btn.apps-btn-2{
  margin-left: 10px;
  background: transparent;
  border: 2px solid #1452e2;
}

.apps-area p{
  font-size: 16px;
  color: #fff;
}

.apps-img img {
  width: 400px;
}

/*===================
community area css
======================

.community-area {
  position: relative;
  z-index: 2;
  background: #031b69;
  overflow:hidden;
}

.community-area:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  bottom: -40%;
  left: -24%;
  background: url(assets/img/liveShape-bg.svg) no-repeat;
  z-index: -1;
}

.community-area:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -31%;
  right: -84%;
  z-index: -1;
  background: url(assets/img/liveShape-bg.svg) no-repeat;
}

.single-community i {
  display: block;
  width: 80px;
  height: 80px;
  color: #0a0808;
  font-size: 24px;
  background: whitesmoke;
  text-align: center;
  line-height: 80px;
  margin: 10px;
  float: right;
  border-radius: 50%;
  border: 1px solid transparent;
}

.single-community i:hover{
  background: transparent !important;
  border-color: #8e3535;
  font-size: 20px;
}

.single-community.mid-social i {
  float: left;
  height: 100px;
  width: 100px;
  line-height: 100px;
  font-size: 30px;
}

.single-community.mid-social i:hover {
  font-size: 25px;
}

.single-community.big-social i:hover{
  font-size: 30px;
}

.single-community.big-social i {
  float: left;
  height: 120px;
  width: 120px;
  line-height: 120px;
  font-size: 40px;
}

.single-community a.google-plus i {
  background: #EA4335;
}

.single-community a.linkedin i {
  background: #0e76a8;
}

.single-community a.dribbble i {
  background: #E84C88;
}

.single-community a.github i {
  background: #171515;
}

.single-community a.behance i {
  background: #B4B4B4;
}

.single-community a.youtube i {
  background: #ff0000;
}

.single-community a.twitter i {
  background: #fbfbfb;
}

.single-community a.flickr i {
  background: #F93FA2;
}

.single-community a.ctf i {
  background: #efefef;
}

/*===================
footer area css
======================
.single-footer .logo-area img {
  width: 90px;
}

.single-footer li a {
  color: #7b4242;
  display: inline-block;
  margin-bottom: 10px;
}

.single-footer input {
  background: none;
  border: none;
  width: 78%;
  padding: 10px;
}

.single-footer .footer-form{
  background: #031b69;
  border-radius: 5px;
}


.footer-form a {
  float: right;
  width: 20%;
}
.single-footer li a:hover {
  padding-left: 5px;
  color: #FB9A8C;
}

/*====================
mobile menu css
======================*/


.slicknav_btn.slicknav_collapsed {
  margin: 0;
  padding: 0;
  background: none;
  width: 100%;
}

.slicknav_icon {
  margin: 0;
}

.slicknav_menu {
  background: none;
}

.slicknav_btn.slicknav_open {
  background: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.slicknav_nav {
  background: #20213a;
  width: 90vw;
  text-align: center;
  position: absolute;
  left: auto;
  right: auto;
  top: 50px;
}

.slicknav_menu .slicknav_menutxt {
  display: none;
  font-weight: bold;
}

.slicknav_nav .slicknav_row, .slicknav_nav a {
  padding: 10px 20px;
  margin: 0;
}

.slicknav_nav a:hover {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: rgba(45 ,212, 204, 0.3);
  font-weight: bolder;
  color: #fff;
  padding-left: 25px;
}

.slicknav_nav .slicknav_row:hover {
  background: #2db7d4;
  opacity: 0.1;

}
.slicknav_nav .slicknav_item a, .slicknav_nav .slicknav_parent-link a {
  text-transform: capitalize;
}

/*==========================================================================
homePage version 2 css
===========================================================================*/

/*===================
welcome area v2 css
======================*/

.welcome-area.v2 {
  padding: 90px 0;
      padding-top: 90px;
  padding-top: 160px;
}

.v2.welcome-progress {
  background: #001763;
  padding: 50px 30px;
  border-radius: 10px;
  box-shadow: 0 0 45px #0324af;
}

.progress.v2 {
  margin: 10px 0;
  height: 30px;
  background: #062489;
}

.v2.welcome-progress a.gradient-btn {
  width: 100%;
  padding: 15px 0px;
}

.progress.v2 .progress-bar {
  border-radius: 50px;
  background: -webkit-linear-gradient(top,#00bbf9,#005eea);
  position: relative;
  z-index: 2;
}

.progress.v2 .progress-bar:after {
  position: absolute;
  content: "";
  height: 50px;
  width: 50px;
  background: -webkit-linear-gradient(top,#00bbf9,#005eea);
  right: 0;
  border-radius: 50px;
}

.v2.welcome-progress h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}
.single-prgress-w p {
  font-size: 18px;
  font-weight: 700;
  color: #f7f2f2;
  text-transform: none;
}

.single-prgress-b p {
  font-weight: 700;
  margin-top: 10px;

}

.v2.welcome-progress .progress-time h5 {
  font-size: 14px;
  text-align: center;
}

/*===================
token area v2 css
======================*/
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.about-area.v2::after {
  right: -28%;
  bottom: 22%;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

/*===================
distibution area v2 css
======================*/

.distibution-bg.v2::after {
  bottom: 0%;
  right: -29%;
}


/*===================
faq v2 area css
======================

.faq-area.v2 .card-header:first-child {
  border-radius: none !important;
  border-radius: none;
  background: #031b6f;
  padding: 5px;
    padding-left: 5px;
  padding-left: 30px;
}

.faq-area.v2 .card {
  border: none;
  background: #143dc7;
  margin-bottom: 20px;
}

.faq-area.v2 .btn.btn-link {
  color:#8e3535;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.btn.btn-link{
  position: relative;
  z-index: 2;
}

.btn.btn-link::after {
  position: absolute;
  left: -3%;
  content: "+";
  height: 100%;
  width: 30px;
  text-align: center;
  top: 0;
  line-height: 35px;
  animation: upDown 2s infinite;
  font-size: 20px;
}

[aria-expanded="true"].btn.btn-link::after {
  content: "-";
}

/*===================
community v2 area css
======================

.community-area.v2 .single-community li{
  display: inline-block;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  background: none;
  border: 1px solid #163fcb;
  padding: 15px;
  text-transform: capitalize;
  border-radius: 5px;
}

.single-details small {
  font-size: 12px;
  text-transform: unoppercase;
  color:#8e3535;
}

.single-details a{
  font-size: 24px;
  text-transform: none;
  color:#8e3535;
}

.single-details a:hover {
  color: #FE978B;
  padding-left: 10px;
}

.community-area.v2::after {
  top: -14%;
  right: -73%;
}

.community-area.v2::before {
  bottom: -63%;
  left: -17%;
}

.single-footer .footer-form.v2{
  background: #062489;
}
/*==========================
blog page css
==========================*/
.welcome-header{
  padding: 150px 0;
  font-size: 18px;
  text-transform: capitalize;

}
.welcome-header a{
  -webkit-transition: all .3s;
  -o-transition: all 3s;
  transition: all .3s;
}
.welcome-header a:hover{
  color: #ef5050;
  -webkit-transition: all .3s;
  -o-transition: all 3s;
  transition: all .3s;
}
.welcome-header i {
  padding: 0 10px;
}
.welcome-area.bv{
  background: url(assets/img/about-shap.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 2;
}
.welcome-area.bv:after{
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  background: #000;
  opacity: .8;
  left: 0;
  top: 0;
  z-index: -1;
}
/*.single-blog-image {
  background-position: center !important;
  background-size: cover !important;
  height: 300px;
  border-radius: 10px 10px 0 0;

}
.blog-bg-1 {
  background: url(assets/img/blog-blog-1.jpg);
}
.blog-bg-2 {
  background: url(assets/img/blog-blog-2.jpg);
}
.blog-bg-3 {
  background: url(assets/img/blog-blog-3.jpg);
}
.blog-bg-4 {
  background: url(assets/img/blog-blog-4.jpg);
}
.blog-bg-5 {
  background: url(assets/img/blog-blog-5.jpg);
}
.blog-bg-6 {
  background: url(assets/img/blog-blog-6.jpg);
}
.blog-bg-7 {
  background: url(assets/img/blog-blog-7.jpg);
}
.blog-bg-8 {
  background: url(assets/img/blog-blog-8.jpg);
}
.blog-bg-9 {
  background: url(assets/img/blog-blog-4.jpg);
}

.single-blog-text a {
  color: #8e3535;
  font-size: 17px;
  -webkit-transition: all .3s;
  -o-transition: all 3s;
  transition: all .3s;
}
.single-blog-text a:hover {
  color: #F78A89;
  -webkit-transition: all .3s;
  -o-transition: all 3s;
  transition: all .3s;
}
.single-blog-text {
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 0 2px #f2f2f2;
  border-radius: 0 0 10px 10px;
}
.single-blog{
  border-radius: 10px;
}

/*==========================
single-blog page css
==========================
a.single-blog-top:hover {
  color: #f38417;
}
.single-blog-h1 {
  font-size: 36px;

}
.single-blog-h4{
  font-size: 24px;
}

.single-blog-h1, .single-blog-h4{
  color: #fff;
  font-weight: 700;
}
.quite-area {
  background: #1938a2;
  padding: 30px 0;
}
.quite-text {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.quite-text i {
  font-size: 30px;
  color: #fff;
}

.single-blog-social li {
  display: inline-block;
}
.single-blog-social li a {
  display: block;
  color: #676767;
  background: #f8f8f8;
  text-transform: capitalize;
  height: 40px;
  width: 91px;
  text-align: center;
  line-height: 40px;
  margin-right: 8px;
  border-radius: 10px;
  border: 1px solid transparent;
  -webkit-transition: all .3s;
  -o-transition: all 3s;
  transition: all .3s;
}
.single-blog-social li a:hover{
  border-color: #884141;
  background: transparent;
  -webkit-transition: all .3s;
  -o-transition: all 3s;
  transition: all .3s;
}
.single-blog-social a.blog-234 {
  background: #22233b;
  color: #351d1d;
}
.single-blog-social a.blog-234:hover {
  background: #884141;
  color: #22233b;
}
.single-blog-social a.facebook-b {
  background: #3B5998;
  color: #a94e4e;
}
.single-blog-social a.facebook-b:hover {
  background: transparent;
  color: #3B5998;
}
.single-blog-social a.camera-b {
  background: #c32aa3;
  color: #884141;
}
.single-blog-social a.camera-b:hover {
  background: transparent;
  color: #c32aa3;
}
.single-blog-social a.twitter-b {
  background: #1da1f2;
  color: #884141;
}
.single-blog-social a.twitter-b:hover {
  background: transparent;
  color: #1da1f2;
}

.comment-img {
  width: 25%;
  text-align: center;
  float: left;
}

.comment-img img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.comment-text-form {
  width: 75%;
  float: left;
}
.comment-text-form input {
  width: 70%;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  background: #062489;
  color: #884141;
  border: 1px solid #163fcb;
}

.comment-text-form a.custom-btn {
  width: 25%;
  text-align: center;
  float: right;
}
.single-comment {
  height: 250px;
  padding: 20px;
  box-shadow: 0 0 2px #f2f2f2;
}
.single-blog-area a.gradient-btn {
  margin-left: 20px;
}
.single-blog-area a{
  color: #884141;
  -webkit-transition: all .3s;
  -o-transition: all 3s;
  transition: all .3s;
}
.single-blog-area a:hover{
  color: #787877;
  -webkit-transition: all .3s;
  -o-transition: all 3s;
  transition: all .3s;
}

.single-blog-contact input {
  width: 48%;
  border-radius: 10px;
}

.single-blog-contact input:nth-child(2) {
  margin-left: 20px;
  float: right;
}

.single-blog-contact input,
.single-blog-contact textarea{
  border: 1px solid #163fcb;
  padding: 10px;
  padding-left: 20px;
  text-transform: capitalize;
  color: #fff;
  background:#062489;
}

.single-blog-contact textarea{
  width: 100%;
}

.single-blog-area small span {
  padding-left: 50px;
}*/

small{
  font-size: 14px;
  font-style: italic;
}


/*===================
comman css
======================*/
.ex1 {
  padding-left: auto;
  padding-right: auto;
  margin: auto;
  width: 60%;

  padding: 10px;
}
img {
  width: 100%;
  height: auto;
}
.member {
  background-color: #f3f1f1
}
.white_fontcolour{
  color: #ccdeeb
}
.member_fontcolour{
  color: #20213a
}

.about_fontcolour{
  color: #aebfd1;
  flex-wrap: wrap;
}
.monospace {
  font-family: "montserrat";
  
}
.membe {
  background-color: #f3f1f1
}

.custom-heading {
  font-family: 'Josefin Sans', sans-serif;

}

.section-padding{
  padding: 90px 0;
}

.space-10{
  height: 10px;
}

.space-20{
  height: 20px;
}

.space-30{
  height: 30px;
}

.space-40{
  height: 40px;
}
.space-50{
  height: 50px;
}

.space-60{
  height: 60px;
}

.space-70{
  height: 70px;
}

.space-80{
  height: 80px;
}

.space-90{
  height: 90px;
}

.space-100{
  height: 100px;
}

.mr-20{
  margin-right:20px;
}

a.gradient-btn {
  display: inline-block;
  color: #f9f5f5;
  text-transform: uppercase;
  font-weight: 700;
  background: -webkit-linear-gradient(right,#3d3e40,#667aa9,#443e54);
  padding: 10px 20px;
  border-radius: 5px;
  position: relative;
  z-index: 2;
  text-align: center;

}

a.gradient-btn:after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  background: -webkit-linear-gradient(left,#8bc1fe,#667aa9,#443e54);
  height: 100%;
  width: 100%;
  z-index: -1;
  border-radius: 5px;
  opacity: 0;

}

a.gradient-btn:hover:after{
  opacity: 1;
}

.heading h5 {
  font-size: 20px;
  text-transform: uppercase;
}

.about-mid-img img,
.document-flag img,
.single-team-img img,
.welcome-img img{
  height: 100%;
  width: 100%;
}

::-webkit-input-placeholder{color:#fff}
:-ms-input-placeholder{color:#fff}
::-ms-input-placeholder{color:#fff}
::placeholder{color:#b58a8a}
.card{position:relative;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;min-width:0;word-wrap:break-word;background-color:#000000;background-clip:border-box;border:1px solid hsl(0, 0%, 0%)%);border-radius:.25rem;}
.card-body{-ms-flex:1 1 auto;flex:1 1 auto;padding:1.25rem}
/*=================
      timeline
 ==================

.timeline-padding{
    padding:10px;
}

.roadmap-area{
	background: #f3f1f1;
	overflow: hidden;
}

.roadmap-area .owl-nav div {
  position: absolute;
  right: 0;
  font-size: 20px;
  color: #fff;
}

.roadmap-area .owl-nav .owl-prev {
  left: auto;
  right: 5%;
}

.roadmap-area .owl-nav div:hover{
  color: #fa758e;
}

.roadmap-area .owl-carousel .owl-stage-outer {
  overflow: visible;
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #20213a;
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 30px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.54);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #e4e4e4;
  border-right: 0 solid #e4e4e4;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #7d7272;
  border-right: 0 solid #7c7271;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -20px;
  background-color: #20213a;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 19px;
  left: -14px;
  right: auto;
}

.timeline-badge.primary {   /*color of dots  
  background-color: #20213a !important;}

.timeline-badge.success {
  background-color: #20213a !important;}

.timeline-badge.warning {
  background-color: #20213a !important;
}

.timeline-badge.danger {
  background-color: #20213a !important;
}

.timeline-badge.info {
background-color: #20213a !important;}

.timelin-title {   /* title color of each block 
  margin-top: auto;
  color:#0f1756;
  font-family: 'Montserrat', sans-serif;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  mrgin-top: 10px;
}*/

/*======================
        Gallery
=======================*/
.card {
  background: #e4e4e4;
  border: 0px;
  border-radius: 0.4rem;
  box-shadow: 3px 7px 15px -1px rgba(185, 240, 232, 0.3);
}

.gallery-block.grid-gallery{
  padding-bottom: 60px;
  padding-top: 60px;
}

.gallery-block.grid-gallery .heading{
    margin-bottom: 50px;
    text-align: center;
}

.gallery-block.grid-gallery .heading h2{
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.gallery-block.grid-gallery a:hover{
  opacity: 0.8;
}

.gallery-block.grid-gallery .item img{
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  transition: 0.4s;
}

.gallery-block.grid-gallery .item{
  margin-bottom: 20px;
}

@media (min-width: 576px) {

.gallery-block.grid-gallery .scale-on-hover:hover{
    transform: scale(1.05);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
  }
}


/*=================
        glowtext
===================
.glow {
  font-size: 80px;
  color: #fff;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 5px #032368, 0 0 7px #032368, 0 0 9px #70c6ff, 0 0 10px #70c6ff, 0 0 12px #70c6ff;
  }
  
  to {
    text-shadow: 0 0 3px #fff, 0 0 5px #4dcdff, 0 0 7px #4dcdff, 0 0 9px #4dcdff, 0 0 10px #4dcdff, 0 0 12px #4dcdff, 0 0 14px #4dcdff;
  }
}
*/


/*=================
        footer
===================*/
#contact {
  font-family: 'Montserrat';
 /* background: #e4e4e4;
  font-weight: bold;*/
  font-size: 2vw;
  width: 38%;
  line-height: normal;
  color: #ffffffe1;/* rgb(212, 209, 209);*/
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}

.footer-font{
  font-style: inherit;
  color:  rgb(212, 209, 209);
}

.temp-icon {
  text-align: center;
  font-size: 20px;
  width: 100%;
  color: white; 
}

.bg_footer{
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  height: 380px;
  width: 400px;
  opacity: 0.1;
}

@media (max-width:990px) {
  img#optional {
    display: none;
  }
  #contact {
    font-size: 20px;
  }
}

.bg_footer:hover {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  height: 380px;
  width: 400px;
  opacity: 0.8;
}

.twitter-t{
  color: rgb(212, 209, 209);
}
.twitter-t:hover{
    background: transparent;
    color:#00acee;
}
.flag-t{
  color:  rgb(212, 209, 209);
}
.flag-t:hover{
    background: transparent;
    color: crimson;
}
.github-t{
  color:  rgb(212, 209, 209);
}
.github-t:hover{
    background: transparent;
    /*color:rgb(81, 142, 145);*/
    color: #7DBBE6;
}

.column-3div{
  float: left;
  width: 33.33%;

}

.new-row-foot:after{
  content: "";
  display: table;
  clear: both;
}
/*---new timeline----*/

/*--new timeline---*/
/*timeline*/

.main-timeline h4 {

  margin:30px 0;
  color:#44abff;

}

.main-timeline {
    position: relative
}

.main-timeline:before {
    content: "";
    width: 2px;
    height: 100%;
    border-radius: 20px;
    margin: 0 auto;
    background: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}

.main-timeline .timeline {
    display: inline-block;
    margin-bottom: 50px;
    min-width: 100%;
    position: relative
}

.main-timeline .timeline:before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px solid #fff;
    background: #20213a;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%)
}

.main-timeline .timeline-icon {
    display: inline-block;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    padding: 13px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateY(-50%)
}

.main-timeline .timeline-icon img {
    display: block;
    border-radius: 50%;
    background: #ffffff;
    font-size: 64px;
    color: #fff;
    line-height: 100px;
    z-index: 1;
    position: relative
}

.main-timeline .timeline-icon:after,
.main-timeline .timeline-icon:before {
    content: "";
    width: 100px;
    height: 3px;
    background: #ffffff;
    position: absolute;
    top: 50%;
    right: -100px;
    transform: translateY(-50%)
}

.main-timeline .timeline-icon:after {
    width: 70px;
    height: 50px;
    background: #181126;
    top: 89px;
    right: -30px
}

.main-timeline .timeline-content {
    width: 50%;
    padding: 0 20px;
    margin: 62px 0 0;
    float: right;
    position: relative
}

.main-timeline .timeline-content:before {
    content: "";
    width: 70%;
    height: 100%;
    border: none;
    position: absolute;
    bottom: -13px;
    left: 35px
}

.main-timeline .timeline-content:after {
    content: "";
    width: 70%;
    height: 2px;
    background: #ffffff;
    position: absolute;
    top: 13px;
    left: 0
}

.main-timeline .title {
    font-size: 30px;
    color: #44abff;
    text-transform: uppercase;
    margin: 0 0 10px
}

.main-timeline .description {
    display: inline-block;
    font-size:20px;
    line-height: 20px;
    margin: 0
}

.main-timeline .timeline:nth-child(even) .timeline-icon {
    left: auto;
    right: 30%
}

.main-timeline .timeline:nth-child(even) .timeline-icon:before {
    right: auto;
    left: -100px
}

.main-timeline .timeline:nth-child(even) .timeline-icon:after {
    right: auto;
    left: -30px
}

.main-timeline .timeline:nth-child(even) .timeline-content {
    float: left
}

.main-timeline .timeline:nth-child(even) .timeline-content:before {
    left: auto;
    right: 35px;
    transform: rotateY(180deg)
}

.main-timeline .timeline:nth-child(even) .timeline-content:after {
    left: auto;
    right: 0
}


.main-timeline .timelinefont1 {
  font-size: 20px;
  color: white;
}
@font-face {
  font-family: 'josefin';
  src: url(./assets/fonts/JosefinSans.ttf);
  font-style: normal;
  font-weight: 500;
}
.main-timeline .timelinefont2 {
  font-family: josefin, cursive;
  font-size: 32px;
  color: white;
  text-align: left;

}

.main-timeline .timelinefont3 {
  font-family: "Lucida Console", Courier, monospace;
  font-weight: bold;
}


@media only screen and (max-width:1200px) {
    .main-timeline .timeline-icon:before {
        width: 50px;
        right: -50px
    }
    .main-timeline .timeline:nth-child(even) .timeline-icon:before {
        right: auto;
        left: -50px
    }
    .main-timeline .timeline-content {
        margin-top: 75px
    }
}

@media only screen and (max-width:990px) {
    .main-timeline .timeline {
        margin: 0 0 10px
    }
    .main-timeline .timeline-icon {
        left: 25%
    }
    .main-timeline .timeline:nth-child(even) .timeline-icon {
        right: 25%
    }
    .main-timeline .timeline-content {
        margin-top: 115px
    }
    .main-timeline .title {
        margin: 0 0 10px;
    }
    
}

@media only screen and (max-width:767px) {
    .main-timeline {
        padding-top: 50px
    }
    .main-timeline:before {
        left: 80px;
        right: 0;
        margin: 0
    }
    .main-timeline .timeline {
        margin-bottom: 70px
    }
    .main-timeline .timeline:before {
        top: 0;
        left: 83px;
        right: 0;
        margin: 0
    }
    .main-timeline .timeline-icon {
        width: 60px;
        height: 60px;
        line-height: 40px;
        padding: 5px;
        top: 0;
        left: 0
    }
    .main-timeline .timeline:nth-child(even) .timeline-icon {
        left: 0;
        right: auto
    }
    .main-timeline .timeline-icon:before,
    .main-timeline .timeline:nth-child(even) .timeline-icon:before {
        width: 25px;
        left: auto;
        right: -25px
    }
    .main-timeline .timeline-icon:after,
    .main-timeline .timeline:nth-child(even) .timeline-icon:after {
        width: 25px;
        height: 30px;
        top: 44px;
        left: auto;
        right: -5px
    }
    .main-timeline .timeline-icon i {
        font-size: 30px;
        line-height: 45px
    }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(even) .timeline-content {
        width: 100%;
        margin-top: -15px;
        padding-left: 110px;
        padding-right: 5px
    }
    .main-timeline .timeline:nth-child(even) .timeline-content {
        float: right
    }
    .main-timeline .timeline-content:before,
    .main-timeline .timeline:nth-child(even) .timeline-content:before {
        width: 50%;
        left: 120px
    }
    .main-timeline .timeline:nth-child(even) .timeline-content:before {
        right: auto;
        transform: rotateY(0)
    }
    
    .main-timeline .timeline-content:after,
    .main-timeline .timeline:nth-child(even) .timeline-content:after {
        left: 85px
    }
    .main-timeline .title{
        float: right;
        text-align: right;
    }
    .main-timeline .timeline-content:after {
      width:45vw;
    }

    .main-timeline .timelinefont2 {
      text-align: left;
      font-size: 25px;
      color: white;
    }
    .main-timeline .timelinefont1 {
    /* font-family: ptsans; */
    text-align: left;
    font-size: 20px;
    }
    .main-timeline h4 {
    margin-top:25px;
    }


}

@font-face {
  font-family: 'pt';
  src: url(./assets/fonts/PTSans-Regular.ttf);
  font-style: normal;
  line-height: 100%;
}
.aboutfont {
  font-family: pt;
  font-size: 18px;
  font-weight: 500;
  text-align: justify;
  color: #3c4f62;
}
/*end timeline*/

.homefont {
  font-family: pt;
  font-size: 20px;
  color: white;
  text-align: center;
  border-radius: 0.4rem;
  padding-right: 20px;
  padding-left: 20px;

}

.hometitle {
  font-family: josefin;
  font-size: 30px;
  color: white;
}


.tryme {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -75px;
  margin-top: -30px;
  width: 75%;
}

@font-face {
  font-family: 'junction';
  src: url(./assets/fonts/Junction-regular.otf);
  font-style: normal;
  line-height: 100%;
}
.headfont {
  font-family: junction;
  font-size: 48px;
  font-weight: 100;
  text-align: center;
  color: white;
}
.headfont1 {
  font-family: "Courier New", sans-serif;
  color: #e4e4e4;
  font-size: 18px;
  text-align: center;

}


/*===================================== end =================================*/
